Package: com.pxx917144686.app_hook
Name: APP_Hook
Version: 0.0.2
Architecture: iphoneos-arm64
Description: Tweaks
Maintainer: pxx917144686
Author: pxx917144686
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)